.proTaskList{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    .question{
        width:35px;
        height:35px;
        background:#108ee9;
        text-align: center;
        border-radius: 50%;
        position:fixed;
        right:20px;
        bottom:230px;
        color:#fff;
        font-weight:600;
        font:bold 16px/35px "微软雅黑";
    }
    .breadDiv{
        width: 100%;
        height: auto;
        margin: 10px 0 0 0;
        box-shadow: 0px -3px 5px #dddddd;
        background: #fff;
        padding: 10px 0 !important;
        flex: 0 0 auto;
        .li:last-child{
            margin: 5px 0 0 0;
        }
        .li{
            height: auto;
            line-height: 15px;
            padding:0 15px;
            display: flex;
            svg{
                width: 20px;
                height: 20px;
                float: left;
                flex:0 0 auto;
            }
            label{
                color: #757474;
                margin: 2px 0 0 5px;
                flex:1;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .li:last-child svg{
            height: 18px;
        }
    }
    .list{
        .am-list-body::after{
            background: none;
        }
        box-shadow: 0px -3px 5px #dddddd;
        display: table;
        margin: 10px 0 0 0;
        width: 100%;
        /*.li:nth-child(2n){
            background: #f1f1f1;
        }*/
       .am-list-body{
           width: 100%;
       }
        .li{
            width: 100%;
            display: flex;
            border-bottom: 1px solid #ddd;
            .ionc_box_l{
                padding: 0 0 0 15px !important;
            }
            .ionc_box{
                display: table-cell;
                vertical-align: middle;
                padding: 0 8px 0 0;
                svg{
                    width: 25px;
                    height: 25px;
                    margin: 0 5px 0 0;
                    float: left;
                }
                .ant_number{
                    float: left;
                    width: auto;
                    height: auto;
                    line-height: 12px;
                    margin: 0;
                    max-width: 35px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: normal;
                    display: block;
                }
            }
            .left{
                flex: 1;
                vertical-align: middle;
                padding: 18px 0;
                .top{
                    height: 22px;
                    line-height: 20px;
                    font-size: 14px;
                    word-break: break-all;
                    -webkit-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    color: #333;
                    text-align: left;
                }
                .bottom{                 
                    .label{
                        color: #9d9d9d;
                        float: left;
                        font-size: 12px;
                        margin: 2px 10px 0 0;
                        max-width: 82px;
                        svg{
                            width: 12px;
                            height: 12px;
                            float: left;
                            color: #9599a2;
                            margin: 0 3px 0 0;
                        }
                        span{
                            color:#00a703;                      
                        }
                        >label{
                            display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
                            -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
                            -webkit-line-clamp: 1; /** 显示的行数 **/
                            overflow: hidden;  /** 隐藏超出的内容 **/
                            max-width: 46px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .right{
                padding: 0 15px 0 0;
                vertical-align: middle;
                svg{
                    width: 30px;
                    height: 30px;
                }
                p{
                    margin: 0;
                    font-size: 12px;
                    line-height: 14px;
                    color: #6c9cbf;
                    text-align: right;
                    padding: 5px 0 0 0;
                    border-radius: 5px;
                }
            }
        }
    }
    
    .add-box{
        display: inline-block;
        bottom:.3rem;
        position: absolute !important;
        text-align: center;
        right: 0;
        left:0;
        a{
            display:inline-block;
            width:129px;
            height:39px;
            line-height:39px;
        }
        svg{
            width: 15px;
            height: 15px;
            float: left;
            margin: 12px 3px 9px;
        }
    }        
}
