body {
	background: #f5f5f5;
}
.am-list-header {
	padding: 18px 18px 9px;
	span {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 16px;
	}
}
@keyframes move {
	0% {
		width: 100px;
	}
	50% {
		width: 150px;
	}
	100% {
		width: 160px;
	}
}

.statistics {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 55px;
	.clearfloat:after {
		display: block;
		clear: both;
		content: "";
		visibility: hidden;
		height: 0;
	}
	.head {
		color: #424242 100%;
		background: #fff;
		font-size: 14px;
		position: relative;
		height: 35px;
		line-height: 35px;
		padding: 0 12px;
		box-shadow: 0px 1px 4px 0px rgba(238, 238, 238, 1);
		a {
			position: absolute;
			right: 20px;
			font-size: 12px;
			color: rgba(117, 117, 117, 1);
			svg {
				width: 14px;
				height: 14px;
				color: rgba(189, 189, 189, 1);
				fill: rgba(189, 189, 189, 1);
				position: absolute;
				top: 10px;
			}
		}
	}

	.clearfloat {
		zoom: 1;
	}
	.box {
		position: relative;
		background: #fff;
		margin: 16px 12px;
		height: 240px;
		box-shadow: 0px 0px 4px 0px rgba(238, 238, 238, 1);
		border: 1px solid rgba(245, 245, 245, 1);
		.barChat {
			width: 180px;
			height: 100%;
			transform: rotate(270deg);
			position: absolute;
			z-index: 1;
			overflow: hidden;
			.item {
				position: relative;
				margin-bottom: 1px;
				animation: move 0.5s ease-in-out;
				.bar-title {
					position: absolute;
					top: 12px;
					color: rgba(117, 117, 117, 1);
					font-size: 14px;
					left: 10px;
				}
				div {
					height: 40px;
					float: left;
				}
			}
			.unassigned {
				background-color: rgba(206, 147, 216, 0.4);
			}
			.going {
				background-color: rgba(165, 214, 167, 0.4);
			}
			.confirmed {
				background-color: rgba(129, 212, 250, 0.4);
			}
			.cj {
				background-color: rgba(211, 196, 189, 0.4);
			}
			.wcrw {
				background-color: rgba(120, 144, 156, 0.4);
			}
		}
		.legend {
			color: #757575;
			font-size: 12px;
			position: absolute;
			right: 20%;
			top: 50px;
			line-height: 30px;
			.count {
				padding-left: 15px;
				color: #bdbdbd;
			}
			.circle {
				background: rgba(176, 190, 197, 0.8);
				height: 10px;
				display: inline-block;
				width: 10px;
				border-radius: 50%;
				margin-right: 3px;
			}
		}
		.title {
			color: rgba(66, 66, 66, 1);
			height: 40px;
			border-bottom: 1px solid #f5f5f5;
			line-height: 40px;
			font-size: 14px;
			padding-left: 10px;
			a {
				position: absolute;
				right: 23px;
				color: rgba(117, 117, 117, 1);
				font-size: 12px;
				padding-right: 23px;
				svg {
					width: 18px;
					height: 18px;
					position: absolute;
					right: -18px;
					top: 11px;
				}
			}
			.month {
				right: 75px;
				svg {
					right: 8px;
					top: 12px;
				}
			}
			.per-btn {
				svg {
					right: 8px;
					top: 12px;
				}
			}
		}
		.pie {
			height: 170px;
			width: 50%;
		}
	}
}

.pie div:last-child {
	// padding-top: 10px!important;
	// padding-bottom: 10px!important;
	// font-size: 12px !important;
	font-size: 12px !important;
}

.my-drawer {
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 9;
}
.my-drawer .am-drawer-sidebar {
	background-color: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
	padding: 0;

	width: 300px;
	overflow: hidden;
}
.project-wrap {
	min-width: 260px;
	padding: 12px;
	padding-bottom: 40px;
	.am-search-input input[type="search"] {
		color: #666;
	}
	.am-search-input .am-search-clear {
		right: 3px;
		top: 7px;
	}
	.btn-wrap {
		position: absolute;
		height: 40px;
		display: flex;
		width: 100%;
		margin-left: -12px;
		a {
			width: 28%;
			display: block;
			line-height: 40px;
			height: 40px;
			text-align: center;
			background: #eeeeee 100%;
			color: #757575 100%;
		}
		.none {
			background: #f5f5f5 100%;
		}
		.compute {
			width: 44%;
			background: #64b5f6 100%;
			color: #fff;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.head {
		.title {
			color: rgba(117, 117, 117, 1);
			font-size: 14px;
			line-height: 30px;
		}
		.tap-list {
			margin-bottom: 10px;
			li {
				display: inline-block;
				font-size: 12px;
				text-align: center;
				color: rgba(100, 181, 246, 1);
				padding: 5px 8px;
				border: 1px solid rgba(100, 181, 246, 1);
			}
			li:first-child {
				border-radius: 4px 0 0 4px;
			}
			li:last-child {
				border-radius: 0 4px 4px 0;
			}
			.active {
				background-color: rgba(100, 181, 246, 1);
				color: rgba(255, 255, 255, 1);
			}
		}

		.search {
			background-color: rgba(245, 245, 245, 1);
			margin: 0 -12px;
			input {
				width: 88%;
				background: #fff;
				border: none;
				padding: 4px;
				padding-left: 10px !important;
			}
		}
	}
	.project-list {
		background: #fff;
		margin: 0 -12px;
		border-top: 1px solid rgba(245, 245, 245, 1);
		height: calc(100vh - 160px);
		overflow: scroll;
		width: 280px;
		li {
			line-height: 40px;
			padding: 0 30px 0 16px;
			font-size: 14px;
			color: rgba(117, 117, 117, 1);
			border-bottom: 1px solid rgba(245, 245, 245, 1);
			width: 280px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			position: relative;
			svg {
				position: absolute;
				position: absolute;
				right: 7px;
				top: 13px;
				height: 16px;
				display: none;
			}
		}
		.active {
			color: rgba(100, 181, 246, 1);
			// background-color: #f8f8f8;
			svg {
				position: absolute;
				position: absolute;
				right: 7px;
				top: 13px;
				height: 16px;
				display: block;
			}
		}
	}
}
clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.nodata {
	text-align: center;
	padding: 60px 0;
}
.hoverStyleSec {
	background-color: #000;
	transition: 0.2s;
	opacity: 0.55;
	color: #fff;
	width: 140px;
	height: 170px;
	border-radius: 4px;
	font-size: 12px;
	transition: 0.2s;
	> div {
		font-size: 12px;
	}
	span {
		margin-left: 30px;
		margin-top: 16px;
		font-size: 12px;
		line-height: 16px;
	}
	.yuandian1 {
		width: 10px;
		height: 10px;
		background-color: #d3c4bd;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
	.yuandian2 {
		width: 10px;
		height: 10px;
		background-color: #ce93d8;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
	.yuandian3 {
		width: 10px;
		height: 10px;
		background-color: #81d4fa;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
	.yuandian4 {
		width: 10px;
		height: 10px;
		background-color: #b0bec5;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
}
.hoverStyle {
	background-color: #000;
	opacity: 0.55;
	color: #fff;
	width: 140px;
	height: 170px;
	border-radius: 4px;
	font-size: 12px;
	position: absolute;
	transition: 0.2s;
	> div {
		font-size: 12px;
	}
	span {
		margin-left: 42px;
		margin-top: 20px;
		font-size: 12px;
		line-height: 16px;
	}
	.yuandian1 {
		width: 10px;
		height: 10px;
		background-color: #ce93d8;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
	.yuandian2 {
		width: 10px;
		height: 10px;
		background-color: #a5d6a7;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
	.yuandian3 {
		width: 10px;
		height: 10px;
		background-color: #81d4fa;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
	.yuandian4 {
		width: 10px;
		height: 10px;
		background-color: #81d4fa;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 10px;
	}
}
.am-modal-popup {
	margin-top: 20px;
}
