.tagSelect{
    width:100%;
    height:100%;
    background:#f1f1f1;
    z-index:5;
    position: absolute;
    .label{
        overflow-y:auto;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        position: absolute;
        top:0;
        bottom:60px;
        left:0;
        right:0;
        .labelBox{
            padding:15px 0;
            background:#fff;
            border-bottom:1px solid #eaeaea;
            .title{
                display: flex;
                align-items: center;
                border-bottom: 1px solid #eee;
                padding: 0 15px 10px 15px;
                .square{
                    width:16px;
                    height:16px;
                    display:inline-block;
                    border-radius: 5px;
                    flex: 0 0 auto;
                }
                h3{
                    font-size: 14px;
                    font-weight: normal;
                    color: #666;
                    flex:1;
                    padding: 0 10px;
                }
                svg{
                    color:#666;
                    width: 14px;
                    height: 14px;
                    flex: 0 0 auto;
                }
            }
            .tagBox{
                ul{
                    display:flex;
                    flex-wrap:wrap;
                    box-sizing:border-box;
                    padding: 10px 0 0 15px;
                    li{
                        width: 33.33%;
                        padding: 5px 15px 0 0;
                        span{
                            box-sizing: border-box;
                            border: 1px solid #eee;
                            text-align: center;
                            border-radius: 5px;
                            width: 100%;
                            height: 35px;
                            line-height: 35px;
                            padding: 0 5px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    .button{
        height:48px;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        display:flex;
        .cancel{
            flex:1;
            text-align: center;
            color:#5ec9f6;
            background:#fff;
            line-height:48px;
        }
        .ok{
            flex:1;
            text-align: center;
            color:#fff;
            background:#5ec9f6;
            line-height:48px;
        }
    }
    .alertModal{
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal{
            width: 80%;
            height: auto;
            background: #fff;
            border-radius: 5px;
            .tit{
                font-size: 15px;
                color: #000;
                height: 40px;
                line-height: 45px;
                text-align: center;
            }
            .am-list-item{
                border: 1px solid #eeeeef;
                height: 45px;
                line-height: 45px;
                color: #a9acb0;
                font-size: 13px;
                margin: 5px 15px 15px 15px;
                border-radius: 5px;
                padding: 0 10px;
                .am-list-line{
                    padding: 0;
                    input{
                        color: #a9acb0;
                        font-size: 13px;
                    }
                }
            }
            .am-button{
                font-size: 13px;
                margin: 0 15px 10px 15px;
                border: 0;
                box-shadow: none;
                height: 40px;
                line-height: 40px;
            }
            .am-button:before{
                border: 0;
            }
            .am-button-primary{
                background: #5ec9f6;
            }
            .am-textarea-control textarea{
                font-size:12px;
            }
        }
    }
}